
{% extends 'decode/base.html' %}

{% block content %}
{% load static %}


<p class="flow-text">
  Unicode Decode is a tool designed to explore text data quickly and easily. We
  hope you'll find it useful.  Feel free to send any comments or suggestions to 
  <a href='mailto:unicodedecode@gmail.com'  class='green-text text-darken-2'>unicodedecode@gmail.com</a>
</p>

<p class="flow-text">
  If you're interested in getting involved and contributing, take a look at the project's
  <a href='https://github.com/danieljdorado/unicodedecode' class='green-text text-darken-2'>GitHub</a>.
</p>

<p class="flow-text">
  Problems? Maybe submit a fix on the project's
  <a href='https://github.com/danieljdorado/unicodedecode'  class='green-text text-darken-2'>GitHub</a>.
</p>

<img src=" {% static 'img/unicode.logolarge.png' %}"/>

{% endblock %}
