{% extends 'decode/base.html' %}

{% block content %}


<div class="char-box grey lighten-4">

  {{ char }}
 
</div>
<div  style='text-align: left;'>
  <a href="javascript:history.back()" class='green-text text-darken-2'>Go Back</a>
</div>
<br>
<h5 class="header center green-text text-darken-2">Character Data</h5>
<table class="responsive-table highlight">
  <tbody>
    <tr>
      <td>Name:</td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td>Character:</td>
      <td>{{ char }}</td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>{{ category }}</td>
    </tr>
    <tr>
      <td>Digit:</td>
      <td>{{ digit }}</td>
    </tr>
    <tr>
      <td>Decomposition:</td>
      <td>{{ decomposition }}</td>
    </tr>
    <tr>
      <td>Integer:</td>
      <td>{{ integer }}</td>
    </tr>
    <tr>
      <td>Lower:</td>
      <td>{{ lower }}</td>
    </tr>
    <tr>
      <td>Upper:</td>
      <td>{{ upper }}</td>
    </tr>
    <tr>
      <td>Aliases:</td>
      <td>{{ aliases }}</td>
    </tr>
    <tr>
      <td>East Asian Width:</td>
      <td>{{ east_asian }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}