{% extends 'decode/base.html' %}

{% block content %}


<div class="char-box grey lighten-4">

  {{ char }}
 
</div>
<div  style='text-align: left;'>
  <a href="javascript:history.back()" class='green-text text-darken-2'>Go Back</a>
</div>
<br>
<h5 class="header center green-text text-darken-2">Codepoint Details</h5>
<table class="highlight">
  <thead>
    <tr>
      <th>Name:</th>
      <td>{{ name|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Codepoint:</th>
      <td>{{ char }}</td>
    </tr>
    <tr>
      <th>Category:</th>
      <td>{{ category|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Digit:</th>
      <td>{{ digit|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Direction:</th>
      <td>{{ direction|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Decomposition:</th>
      <td>{{ decomposition|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Integer:</th>
      <td>{{ integer|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Lower:</th>
      <td>{{ lower|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Upper:</th>
      <td>{{ upper|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>Aliases:</th>
      <td>{{ aliases|default:"N/A" }}</td>
    </tr>
    <tr>
      <th>East Asian Width:</th>
      <td>{{ east_asian|default:"N/A" }}</td>
    </tr>
  </thead>
</table>


{% endblock %}
