{% extends 'decode/base.html' %}

{% block content %}

    <div class="row center">
        <form action="{% url 'decode' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <p>
            <button id="decode-button" class="btn-large waves-effect waves- green darken-2">Decode</button>
        </p>
        </form>
    </div>

    <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Character</th>
            <th>Name</th>
            <th>Category</th>
            <th>Digit</th>
            <th>Direction</th>
            <th>Integer</th>
            <th>Code Point</th>
          </tr>
        </thead>
        <tbody>
        {% for x in text %}
            <tr>
                <td>{{x.char}}</td>
                <td><a href="{% url 'character' slug=x.hex %}" class="green-text text-darken-2">{{x.name}}</a></td>
                <td>{{x.category}}</td>
                <td>{{x.digit}}</td>
                <td>{{x.bidi}}</td>
                <td>{{x.ord}}</td>
                <td>{{x.code_point}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
    <div class="row">
        <div class="col s12"><b>Normalization Form:</b></div>
        <div class="col s2"></div>

        {% for key, item in normalization_form.items %}
            {% if item == True %}
                <div class="col s2">
                    <span>{{ key }}:</span>
                    <span style="color: green;">{{ item }}</span>
                </div>

                {% else  %}
                <div class="col s2">
                    <span>{{ key }}:</span>
                    <span style="color: red;">{{ item }}</span>
                </div>
                {% endif %}
        {% endfor %}
    </div>

{% endblock %}
