<!-- Website Footer -->
{% block footer %}
  <footer class="page-footer yellow darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="green-text text-darken-2">At a glance/h5>
          <p class="black-text">Unicode Decode reveals every character detail in your text: names, code points, and normalization forms, so you can debug encoding, spot lookalikes, and work confidently with any language.</p>
        </div>
          <div class="col l3 s12">
            <h5 class="green-text text-darken-2">Learn More</h5>
            <ul>
              <li><a class="black-text" href="/">Home</a></li>
              <li><a class="black-text" href="/about">About</a></li>
              <li><a class="black-text" href="/tofu">Tofu</a></li>
              <li><a class="black-text" href="https://github.com/apocop/unicodedecode">GitHub</a></li>
          
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="green-text text-darken-2">Legal</h5>
            <ul>
              <li><a class="black-text" href="/terms">Terms and Conditions</a></li>
              <li><a class="black-text" href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        <a class="green-text text-darken-2" href="http://materializecss.com">Materialize</a> Theme design by <a class="green-text text-darken-2" href="https://github.com/mcdonald-cyber">Cynthia McDonald</a> – Unicode Version: 12.1.0
      </div>
    </div>
  </footer>
{% endblock %}
