{% load static %}
<!-- Navigation Bar -->
{% block navigation %}
  <nav class="grey lighten-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo  indigo-text text-darken-4"><img src=" {% static 'img/unicode.logo.png' %}" /></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/"  class="green-text text-darken-2">Decode</a></li>
          <li><a href="/about" class="green-text text-darken-2">About</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="/">Decode</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/tofu">Tofu</a></li>
          <li><a href="https://github.com/apocop/unicodedecode">GitHub</a></li>
          <li><a href="/terms">Terms and Conditions</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
  </nav>
{% endblock %}
