{% extends 'decode/base.html' %}

{% block content %}

<p class="flow-text">
  Unicode Decode may add to, change, or remove any part of these Terms and 
  Conditions of Use at any time, without notice. Any changes to these Terms and
  Conditions of Use or any terms posted on this Site apply as soon as they are
  posted. By continuing to use this Site after any changes are posted, you are
  indicating your acceptance of those changes. Unicode Decode may add, change,
  discontinue, remove, or suspend any other Content posted on this Site,
  including features and specifications of products described or depicted on
  the Site, temporarily or permanently, at any time, without notice and
  without liability.
</p>

<p class="flow-text">
  Your use of this site is at your own risk. this site (including all content
  and functions made available on or accessed through this site) is provided
  "as is." to the fullest extent permissible by law, with regard to the
  content on this site, unicode decode makes no representations or warranties of any
  kind whatsoever (1) for the accuracy, merchantability, fitness for a particular
  purpose, or non-infringement of any content published on or available through
  the site; (2) that the server that makes this site available is free of
  viruses or other components that may infect, harm, or cause damage to your
  computer equipment or any other property when you access, browse, download
  from, or otherwise use the site.
</p>

<p class="flow-text">
  Last Updated: 7/18/2020
</p>

{% endblock %}
