<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Navigation Bar -->
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center green-text text-darken-2">{{ title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ tagline }}</h5>
      </div>
      <div class="row center">
        <form action="{% url 'search' %}" method="post">
        <div class="row center">
          <main>{% block content %} {% endblock %}</main>
        </div>
      </div>
      <br><br>

    </div>
  </div>



  <!-- Footer -->
  {% block footer %}
   {% include 'footer.html' %}
  {% endblock %}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static '/js/init.js' %}"></script>

  </body>
</html>
  
