{% extends 'base.html' %}

{% block content %}


<div class="char-box">

  {{ char }}
 
</div>

<div class="card horizontal">

  <div class="card-stacked">
    <div class="card-content">
      <table class="responsive-table highlight">
        <tbody>
          <tr>
            <th>Unicode Data</th>
          </tr>
          <tr>
            <td>Name:</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <td>Category:</td>
            <td>{{ category }}</td>
          </tr>
          <tr>
            <td>Digit:</td>
            <td>{{ digit }}</td>
          </tr>
          <tr>
            <td>Direction:</td>
            <td>{{ direction }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}