<!-- Website Footer -->
{% block footer %}
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Unicode Decode</h5>
          <p class="grey-text text-lighten-4">Unicode Decode is a tool designed to explore text data quickly and easily.</p>
        </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="white-text" href="/">Home</a></li>
              <li><a class="white-text" href="/about">About</a></li>
              <li><a class="white-text" href="/tofu">Tofu</a></li>
               <!--
              <li><a class="white-text" href="#!">Link 4</a></li>
              -->
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Legal</h5>
            <ul>
              <li><a class="white-text" href="/terms">Terms and Conditions</a></li>
              <li><a class="white-text" href="#!">Privacy Policy</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Theme by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> – Unicode Version: 12.1.0
      </div>
    </div>
  </footer>
{% endblock %}
