<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Unicode Search</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <!-- Navigation Bar -->
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Unicode Search</h1>
      <div class="row center">
        <h5 class="header col s12 light">Examine a Unicode String</h5>
      </div>
      <div class="row center">
        <form action="{% url 'search' %}" method="post">
          {% csrf_token %}
          {{ form }}
          <p>
              <button id="download-button" class="btn-large waves-effect waves-light orange">Search</button>
          </p>
      </form>
      <div class="row center">

      </div>
      </div>
      <br><br>

    </div>
  </div>

  <main>{% block content %} {% endblock %}</main>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">Quickly explore any character in a unicode string. Type in a single character, a word, or even paste an entire paragraph.  Unicode Search will you give a character by character breakdown.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">language</i></h2>
            <h5 class="center">Languages</h5>

            <p class="light">Easily uncover which characters are being used in every language supported by unicode. No more being fooled by tricky look-a-likes!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Normalization Form</h5>

            <p class="light">NFC? NFD?  Know if your string is normalized and to which normalization forms: NFC, NFD NFKC and NFKD. </p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  <!-- Footer -->
  {% block footer %}
   {% include 'footer.html' %}
  {% endblock %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static '/js/init.js' %}"></script>

  </body>
</html>
