<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Unicode Search</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">About</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Unicode Search</h1>
      <div class="row center">
        <h5 class="header col s12 light">Examine a Unicode String</h5>
      </div>
      <div class="row center">
      </div>
      <div class="row center">
        <form action="{% url 'search' %}" method="post">

      <div class="row center">
        {% block content %} {% endblock %}
      </div>
      </div>
      <br><br>

    </div>
  </div>



  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Unicode Search</h5>
          <p class="grey-text text-lighten-4">Unicode Search is a tool designed to help you explore your text data quickly and easily.</p>
        </div>
          <div class="col l3 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="white-text" href="/">Search</a></li>
              <li><a class="white-text" href="/tofu">Tofu</a></li>
              <!--
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
              -->
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Legal</h5>
            <ul>
              <li><a class="white-text" href="#!">Terms and Conditions</a></li>
              <li><a class="white-text" href="#!">Privacy Policy</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Theme by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a> – Unicode Version: {{version}}.
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static '/js/init.js' %}"></script>

  </body>
</html>
