{% extends 'base.html' %}

{% block content %}

    <div class="row center">
        <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <p>
            <button id="download-button" class="btn-large waves-effect waves-light orange">Decode</button>
        </p>
        </form>
    </div>

    <table>
        <th>Character</th>
        <th>Name</th>
        <th>Category</th>
        <th>Digit</th>
        <th>Bi-Directional</th>
        <th>Integer</th>
        <th>Code Point</th>
        {% for x in text %}
            <tr>
                <td>{{x.char}}</td>
                <td><a href="{% url 'character' slug=x.hex %}">{{x.name}}</a></td>
                <td>{{x.category}}</td>
                <td>{{x.digit}}</td>
                <td>{{x.bidi}}</td>
                <td>{{x.ord}}</td>
                <td>{{x.code_point}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>
        <b>Normalization Form:</b> &emsp;
        {% for key, item in normalization_form.items %}
            <span style="color: black;">{{key}}:&nbsp;</span>
            {% if item == True %}
                <span style="color: green;">{{ item }} &emsp;</span>
                    {% else  %}
                    <span style="color: red;">{{ item }} &emsp;</span>
                    {% endif %}

        {% endfor %}
    </p>
{% endblock %}