{% extends 'base.html' %}

{% block content %}

<p class="flow-text">Are you seeing <i>tofu</i>, that is, "□" instead of "𐓇" or "ൠ"? Perhaps you just see "□ or □".
  They're different, we promise! Regardless of how your characters are being rendered,
  <a href='/' class='green-text text-darken-2'>Unicode Decode</a> helps you to uncover the
  underlying codepoints. Seeing tofu isn't making your life
  easier so consider checking out <a href='https://www.google.com/get/noto/' class='green-text text-darken-2'>Google's Noto Fonts</a>,
  a comprehensive open source font collection before
  <a href='https://killedbygoogle.com/' class ='green-text text-darken-2'>Google kills it.</a>
</p>

<div class="card horizontal">

  <div class="card-stacked">
    <div class="card-content">
      <table>
        <tbody>
          <tr>
            <th>Character</th>
            <th>Name</th>
            <th>Category</th>
            <th>Digit</th>
            <th>Bi-Directional</th>
            <th>Integer</th>
            <th>Code Point</th>
          </tr>
          <tr>
            <td>𐓇</td>
            <td>OSAGE CAPITAL LETTER SHA</td>
            <td>UPPERCASE LETTER</td>
            <td></td>
            <td>LEFT-TO-RIGHT</td>
            <td>66759</td>
            <td>U+0x104c7</td>
          </tr>
          <tr>
            <td>ൠ</td>
            <td>MALAYALAM LETTER VOCALIC RR</td>
            <td>OTHER LETTER</td>
            <td></td>
            <td>LEFT-TO-RIGHT</td>
            <td>3424</td>
            <td>U+0xd60</td>
          </tr>
        </tbody>
      </table>
      <p>
        <b>Normalization Form:</b>  
          <span style="color: black;">NFC:&nbsp;</span>
              <span style="color: green">True  </span>
          <span style="color: black;">NFKC:&nbsp;</span>
              <span style="color: green">True  </span>
          <span style="color: black;">NFD:&nbsp;</span>
              <span style="color: green">True  </span>
          <span style="color: black;">NFKD:&nbsp;</span>
              <span style="color: green">True  </span>
      </p>
    </div>
  </div>
</div>

{% endblock %}